kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: freqtrade-dev
nodes:
  - role: control-plane
    # Use stable Kubernetes version that works well with kind
    image: kindest/node:v1.29.2@sha256:51a1434a5397193442f0be2a297b488b6c919ce8a3931be0ce822606ea5ca245
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
            max-pods: "110"
            system-reserved: "pid=1000"
    extraPortMappings:
      - containerPort: 80
        hostPort: 8080
        protocol: TCP
      - containerPort: 443
        hostPort: 8443
        protocol: TCP
